{% extends 'mainsite/base.html' %}
{% load static %}

{% block title %}
    Вход
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/userform.css' %}">
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    {% include 'mainsite/includes/messages.html' %}
    <form class="" action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        {% for field in form %}

            <!-- блок появления ошибок при неверных данных -->
            <div class="form-users-group">
                {% if field.errors %}
                    <div class="alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>

            {{ field.label }}
            {{ field }}
            <p></p>
        {% endfor %}

        {% if form.captcha %}
            <button type="button" class='captcha-refresh'>
                <img src="/" alt="reload capture">
            </button>
        {% endif %}


        <p></p>
        <button type="submit">Login</button>
    </form>
    <p>Забыли пароль?
        <a href="{% url 'users:password_reset' %}">Восстановить</a>
    </p>
    {% include 'users/includes/reload_capture.html' %}
{% endblock %}
