{% extends 'mainsite/base.html' %}
{% load static %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/userform.css' %}">
{% endblock %}

{% block content %}
        {% if validlink %}

        <form class="" method="post">
          {% csrf_token %}
          {% for field in form %}

              <!-- блок появления ошибок при неверных данных -->
              <div class="form-users-group">
                  {% if field.errors %}
                      <div class="alert-danger">
                          {{ field.errors }}
                      </div>
                  {% endif %}
              </div>

              {{ field.label }}
              {{ field }}
              <p></p>
          {% endfor %}
          <input type="submit" value="Изменить мой пароль">
        </form>

        {% else %}

        <p>
            Ссылка для сброса пароля недействительна, возможно, потому,
             что она уже использовалась. Пожалуйста, запросите сброс
             нового пароля."
         </p>
        {% endif %}
{% endblock %}
