{% extends 'mainsite/base.html' %}
{% load static %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/userform.css' %}">
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <form class="" action="{% url 'users:password_reset' %}" method="post">
        {% csrf_token %}
            <div class="form-users-group">
                {% if field.errors %}
                    <div class="alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
            {{form.as_p}}
            {% if form.captcha %}
                <button type="button" class='captcha-refresh'>
                    <img src="/" alt="reload capture">
                </button>
            {% endif %}
        <p></p>
        <button type="submit">Отправить email восстановления</button>
    </form>
    {% include 'users/includes/reload_capture.html' %}
{% endblock %}
