{% extends 'mainsite/base.html' %}
{% load static %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/userform.css' %}">
{% endblock %}

{% block content %}
    <form class="" action="{% url 'users:password_reset' %}" method="post">
        {% csrf_token %}
            <div class="form-users-group">
                {% if field.errors %}
                    <div class="alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
            {{form.as_p}}
        <p></p>
        <button type="submit">Отправить email восстановления</button>
    </form>
{% endblock %}
